# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs
/frontend/.vs
/backend/.vs/ISR
/backend/ISR.Api/obj
/backend/ISR.Application/obj
/backend/ISR.Domain/obj
/backend/ISR.Infrastructure/obj
/backend/.vs/ProjectEvaluation
/backend/src/ISR.Api/obj
/backend/src/ISR.Application/obj
/backend/src/ISR.Domain/obj
/backend/src/ISR.Infrastructure/obj
